plotly==5.6.0
pqdm==0.2.0
scipy==1.8.0
dill==0.3.4
hdbscan==0.8.28
pandas==1.4.1
umap_learn==0.5.2
matplotlib==3.5.1
chem_wasserstein==1.0.9
crabnet==2.0.2
conda-souschef==2.1.1
scikit-learn==1.0.2
myst-parser==0.17.0
sphinx==4.4.0
sphinx_copybutton==0.5.0
composition-based-feature-vector==1.0.4
