plotly==5.9.0
pqdm==0.2.0
scipy==1.8.1
dill==0.3.5.1
hdbscan==0.8.28
pandas==1.4.3
umap_learn==0.5.3
matplotlib==3.5.2
chem_wasserstein==1.0.9
crabnet==2.0.2
conda-souschef==2.1.2
scikit-learn==1.1.1
myst-parser==0.18.0
sphinx==5.0.2
sphinx_rtd_theme==1.0.0
sphinx_copybutton==0.5.0
composition-based-feature-vector==1.0.4
