name: Install with flit and test via Pytest

on:
  push:
    paths:
    - '**.py' # only run workflow when source files changed

jobs:
  linux-pytest:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
      
    - name: Check Black code style
      uses: psf/black@stable #https://black.readthedocs.io/en/stable/integrations/github_actions.html
    
    - name: Upgrade pip
      shell: bash -l {0}
      run: |
        python -m pip install --upgrade pip
    - name: Install dependencies
      shell: bash -l {0}
      run: |
        pip install flit torch
        # pip install torch==1.9.1+cu111 -f https://download.pytorch.org/whl/torch_stable.html
        # flit install --deps production --extras test
        flit install
    - name: Test with pytest
      shell: bash -l {0}
      run: |
        export NUMBA_ENABLE_CUDASIM="1"
        python -m pytest
        
#     - name: publish-to-conda # requires setup.py file
#       uses: fcakyon/conda-publish-action@v1.3
#       with:
#         subdir: 'conda'
#         anacondatoken: ${{ secrets.ANACONDA_TOKEN }}
#         platforms: 'win osx linux'
